
*{
    text-align: center;
}

.box{
    height: 15%;
    width: 10%;
    margin-right: auto;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;
}

/*.container{

}









 #container-box {
    background-color: black;
    font-size: 2vh;
    color: cornsilk;
    text-align: center;
}

.cat-poster{
    width: 10rem;
} */